{% extends 'base.html' %}



{% block title %} {{ title }} {% endblock %}



{% block content %}

<header class="header center-text">

	<h1>Envió de Giros Tigo</h1>

</header>

<div class="torneo right-text">

	<form action="">

		<label for="numero">Numero:</label><input class="input center-block" type="text">

		<label for="monto">Monto:</label><input class="input center-block" type="text">

		<input id="latitude" class="input" type="hidden">

		<input id="longitude" class="input" type="hidden">

		<input type="submit" value="Enviar">

	</form>

</div>



{% endblock %}
